[Desktop Entry]
Type=Application
Name=W-Engine Pro
Comment=Dynamic Wallpaper Engine for Linux
Exec=wengine
Icon=wengine
Categories=Utility;Settings;DesktopSettings;
Terminal=false
StartupNotify=true
X-AppImage-Version=1.0.0
MimeType=x-scheme-handler/wengine;
